// elements
$main-bg-color: #dde1e7;
$secondary-bg-color: #1e1e1e;
$main-color: #50adbb;
$nav-btn-active: #3e3e3e;
$btn-color: #dde1e7;
$btn-color-2: #50adbb;
$br-s: 5px;
$br-m: 10px;
$br-x: 15px;
$br-xl: 20px;

// text color
$t-color-0: #000000;
$t-color-1: #424445;
$t-color-2: #50adbb;
$t-color-3: #d6af27;
$t-color-4: #bb5050;
$t-color-5: #8a8a8a;
$t-color-6: #6f7073;

// shadow
$shadow-i-main: inset 5px 5px 9px rgba(0, 0, 0, 0.1),
  inset -5px -5px 9px rgba(255, 255, 255, 0.45);
$shadow-o-main: 5px 5px 9px rgba(0, 0, 0, 0.1),
  -5px -5px 9px rgba(255, 255, 255, 0.45);
$shadow-o-secondary: 5px 5px 5px rgba(0, 0, 0, 0.05),
  -5px -5px 5px rgba(255, 255, 255, 0.2);
$shadow-o-hover: 5px 5px 7px rgba(0, 0, 0, 0.05),
  -5px -5px 7px rgba(255, 255, 255, 0.2);
$text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.1),
  -5px -5px 9px rgba(255, 255, 255, 0.45);
