// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'normalize.css';

@import './general';
@import './theme';
@import './static/icons.scss';
@import './static/nav';
@import './static/info';
@import './content/todo';
@import './content/weather';
@import './content/timers';
@import './content/yesno';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: box-shadow 0.5s;
}

body {
  font-family: sans-serif;
  background: var(--main-bg-color);
  overflow: hidden;
  position: relative;
}

ul,
li {
  list-style: none;
}

.input,
.select,
.btn {
  user-select: none;
  width: 100%;
  background: none;
  border: none;
  outline: none;
}

.btn {
  cursor: pointer;
}
