// light

:root {
  /* Elements */
  --main-bg-color: #dde1e7;
  --secondary-bg-color: #1e1e1e;
  --main-color: #50adbb;
  --nav-btn-active: #3e3e3e;
  --btn-color: #dde1e7;
  --btn-color-2: #50adbb;
  --br-s: 5px;
  --br-m: 10px;
  --br-x: 15px;
  --br-xl: 20px;
  --bg-color-d: #aa311c;

  /* Text color */
  --t-color-0: #000000;
  --t-color-1: #424445;
  --t-color-2: #50adbb;
  --t-color-3: #d6af27;
  --t-color-4: #bb5050;
  --t-color-5: #8a8a8a;
  --t-color-6: #2e2e2e;
  --t-color-active: #000000;

  /* Shadow */
  --shadow-i-main: inset 5px 5px 9px rgba(0, 0, 0, 0.1), inset -5px -5px 9px rgba(255, 255, 255, 0.45);
  --shadow-o-main: 5px 5px 9px rgba(0, 0, 0, 0.1), -5px -5px 9px rgba(255, 255, 255, 0.45);
  --shadow-o-secondary: 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.2);
  --shadow-o-hover: 5px 5px 9px rgba(0, 0, 0, 0.1), -5px -5px 9px rgba(255, 255, 255, 0.624);
  --text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.1), -5px -5px 9px rgba(255, 255, 255, 0.45);


  --animate-duration: 400ms;
  --animate-delay: 0.5s;
}

.dark {
  --main-bg-color: #1a1a1a;
  --secondary-bg-color: #121212;
  --main-color: #ff4444;
  --nav-btn-active: #383838;
  --btn-color: #1a1a1a;
  --btn-color-2: #ff4444;
  --br-s: 5px;
  --br-m: 10px;
  --br-x: 15px;
  --br-xl: 20px;
  --bg-color-d: #aa311c;

  /* Text color */
  --t-color-0: #ffffff;
  --t-color-1: #bfbfbf;
  --t-color-2: #ff4444;
  --t-color-3: #ffc107;
  --t-color-4: #ff1744;
  --t-color-5: #dcdcdc;
  --t-color-6: #dedede;
  --t-color-active: #ffffff;
  /* Shadow */
  --shadow-null: inset 0 0 0 rgba(0, 0, 0, 0), inset -0 -0 0 rgba(50, 50, 50, 0);

  --shadow-i-main: inset 4px 4px 8px rgba(0, 0, 0, 0.2), inset -4px -4px 8px rgba(50, 50, 50, 0.15);
  --shadow-o-main: 4px 4px 8px rgba(0, 0, 0, 0.4), -4px -4px 8px rgba(255, 255, 255, 0.15);
  --shadow-o-secondary: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(50, 50, 50, 0.15);
  --shadow-o-hover: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(50, 50, 50, 0.3);
  --text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4), -4px -4px 8px rgba(80, 80, 80, 0.15);
}
