@import '../variables';

.info {
  justify-content: end;
  align-items: center;
  flex-direction: column-reverse;
  p {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255, 0.8);
    writing-mode: vertical-lr;
    display: inline-block;
    text-align: center;
    transform: scale(-1, -1);

    &::after {
      content: '/';
      color: var(--t-color-2);
      margin: 5px 0;
      font-weight: 900;
    }
  }

  #date {
    p {
      &::after {
        content: '';
      }
    }
  }

  .theme {
    margin-bottom: auto;
    height: 38px;
    width: 38px;

    input,
    label {
      position: relative;
      height: 100%;
      width: 100%;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    input {
      opacity: 0;
      transform: scale(0.01);
    }
    svg {
      path {
        transition: 0.4s;
      }
    }
    input:checked + svg {
      path {
        transition: 0.4s;
      }
      #glass {
        fill: #ffffff;
      }

      #bulb {
        fill: #dfdfdf;
        stroke: #656565;
      }

      #bulb_2 {
        path {
          stroke: #656565;
        }
      }
      #bleam,
      #bleam_2,
      #bleam_3,
      #bleam_4,
      #bleam_5 {
        stroke-opacity: 0;
      }
    }

    svg {
      position: absolute;
    }
  }
}
