@import '../variables';

.menu-items {
  display: flex;
  flex-direction: column;
  // flex: 1 1 auto;
  margin: 20px 0 0;
  padding: 10px 0 10px;
  gap: 10px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.menu-item {
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  padding: 10px;
  transition: background 0.3s;
  &:hover {
    background: #28282885;
    transition: background 0.3s;
  }
  &.active {
    cursor: auto;
    background: var(--nav-btn-active);
    transition: background 0.3s;
  }
}
