<main class="timer-content">
  <section class="timer-config">
    <div class="stopwatch-time">
      18:52:51
      <div id="ms">:44</div>
    </div>
    <div class="stopwatch-btns">
      <button class="btn set-btn reset">Reset</button>
      <button class="btn set-btn">Start</button>
    </div>
    <ul class="stopwatch-items">
      <li class="stopwatch-list_header">
        <div class="item-name">Lap</div>
        <div class="item-time">Time</div>
        <div class="item-time_left">Total time</div>
      </li>
      <li class="stopwatch-item">
        <div class="item-delete i-s i-trash"></div>
        <div class="item-name">Lap 1</div>
        <div class="item-time">14:22</div>
        <div class="item-time_left">01:33:24</div>
      </li>
      <li class="stopwatch-item">
        <div class="item-delete i-s i-trash"></div>
        <div class="item-name">Lap 1</div>
        <div class="item-time">14:22</div>
        <div class="item-time_left">01:33:24</div>
      </li>
      <li class="stopwatch-item">
        <div class="item-delete i-s i-trash"></div>
        <div class="item-name">Lap 1</div>
        <div class="item-time">14:22</div>
        <div class="item-time_left">01:33:24</div>
      </li>
      <li class="stopwatch-item">
        <div class="item-delete i-s i-trash"></div>
        <div class="item-name">Lap 1</div>
        <div class="item-time">14:22</div>
        <div class="item-time_left">01:33:24</div>
      </li>
      <li class="stopwatch-item">
        <div class="item-delete i-s i-trash"></div>
        <div class="item-name">Lap 1</div>
        <div class="item-time">14:22</div>
        <div class="item-time_left">01:33:24</div>
      </li>
      <li class="stopwatch-item">
        <div class="item-delete i-s i-trash"></div>
        <div class="item-name">Lap 1</div>
        <div class="item-time">14:22</div>
        <div class="item-time_left">01:33:24</div>
      </li>
      <li class="stopwatch-item">
        <div class="item-delete i-s i-trash"></div>
        <div class="item-name">Lap 1</div>
        <div class="item-time">14:22</div>
        <div class="item-time_left">01:33:24</div>
      </li>
      <li class="stopwatch-item">
        <div class="item-delete i-s i-trash"></div>
        <div class="item-name">Lap 1</div>
        <div class="item-time">14:22</div>
        <div class="item-time_left">01:33:24</div>
      </li>
      <li class="stopwatch-item">
        <div class="item-delete i-s i-trash"></div>
        <div class="item-name">Lap 1</div>
        <div class="item-time">14:22</div>
        <div class="item-time_left">01:33:24</div>
      </li>
    </ul>
  </section>
</main>