<div class="task-block" data-type="todo">
  <div class="task-block_header">
    <div class="task-block_name">&#128529; todo</div>
    <button class="task-block_add-btn">+add</button>
  </div>
  <div class="task-block_content">
    <!-- <div class="task-item">
      <div class="task-item_text"></div>
    </div> -->
  </div>
  <div class="task-block_footer">
    <button class="task-block_delete-btn">clear all</button>
  </div>
</div>
<div class="task-block" data-type="todo">
  <div class="task-block_header">
    <div class="task-block_name">&#128529; todo</div>
    <button class="task-block_add-btn">+add</button>
  </div>
  <div class="task-block_content">
    <div class="task-item">
      <div
        spellcheck="true"
        class="task-item_text"
        contenteditable="true"
        data-ph="Start typing your task..."
      ></div>
    </div>
    <div class="task-item">
      <div
        class="task-item_text"
        spellcheck="true"
        title="Double click for edit"
      >
        Сделать задачу ав ола лльувм щл ввв уукму умукм укмук уцмва муму мукм
        укму мук щлщумщ щдцывм
      </div>
    </div>
  </div>
  <div class="task-block_footer">
    <button class="task-block_delete-btn">clear all</button>
  </div>
</div>
<div class="task-block" data-type="todo">
  <div class="task-block_header">
    <div class="task-block_emoji">&#128529</div>
    <div class="task-block_name">todo</div>
    <button class="task-block_add-btn">+add</button>
  </div>
  <div class="task-block_content"></div>
  <div class="task-block_footer">
    <button class="task-block_delete-btn">clear all</button>
  </div>
</div>
