@import '../variables';

.timer-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .timer-nav {
    margin-bottom: 20px;
  }
  .timer-nav_btns {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .nav-btn {
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    display: inherit;
    padding: 10px 15px;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: $shadow-o-secondary;
      transition: box-shadow 0.5s;
    }
  }
  .active {
    box-shadow: $shadow-o-main;
    pointer-events: none;
    .label {
      color: black;
    }
  }

  .label {
    margin-left: 10px;
    font-weight: 600;
    color: $t-color-1;
  }

  .timer-content {
    display: flex;
    flex: 1 1 auto;
    box-shadow: $shadow-i-main;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    overflow-y: auto;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.alarm-config,
.timer-config {
  max-width: 600px;
  height: auto;
  flex: 1 1 350px;
}

.current-time,
.stopwatch-time {
  font-weight: 700;
  font-size: 60px;
  line-height: 45px;
  text-align: center;
  color: $t-color-2;
  text-shadow: $text-shadow;
}

.alarm-form,
.timer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin: 40px 0;
}

.input-field,
.select-field,
.set-btn {
  padding: 20px;
  box-shadow: $shadow-o-main;
  border-radius: 20px;
  width: 30%;
  flex-grow: 1;
  &:hover {
    box-shadow: $shadow-o-secondary;
  }
}

.btn {
  background: none;
}
.set-btn {
  font-weight: 700;
  color: $t-color-2;
  font-size: 18px;

  &:active {
    transform: scale(0.98);
  }
}
.alarm-examples,
.timer-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  color: $t-color-5;
}
.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.example {
  cursor: pointer;
  padding: 2px 0 0 25px;
  transition: color 0.5s;
  text-align: center;
  &:hover {
    transition: color 0.5s;
    color: black;
  }
}
.i-s {
  background-position: 0;
  background-size: contain;
}

.alarm-list,
.stopwatch-list {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}
.table-name {
  text-align: center;
  margin: 30px 0 20px 0;
  font-size: 36px;
  font-weight: bold;
  color: $t-color-5;
}
.alarm-items,
.stopwatch-items {
  display: flex;
  flex-direction: column;
}
.alarm-list_header,
.stopwatch-list_header {
  color: $t-color-2;
  font-size: 18px;
  margin-bottom: 10px;
}

.alarm-list_header,
.stopwatch-list_header,
.alarm-item,
.stopwatch-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alarm-item,
.stopwatch-item {
  position: relative;
  color: $t-color-1;
  font-weight: bold;
  margin: 7px 0;
  font-size: 21px;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.item-delete {
  position: absolute;
  left: -30px;
  width: 20px;
  &:hover {
    mix-blend-mode: exclusion;
  }
}

.timer-progress {
  max-width: 450px;
  width: 100%;
}

.progress-bar {
  position: relative;
  max-width: 450px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#circle {
  width: 360px;
  height: 360px;
}

.bg-circle {
  overflow: visible;
  stroke: $main-bg-color;
  fill: transparent;
  stroke-width: 15;
  stroke-dashoffset: -10;
}

.main-circle {
  fill: none;
  stroke: $main-color;
  stroke-width: 15;
  stroke-dashoffset: -10;
  stroke-dasharray: 100 150 230 20 230 20 230 20;
  transform-origin: center;
  transform: scale(1, -1);
  // transform: rotate(180deg);
}

.timer.current-time {
  top: 45%;
  font-size: 42px;
}

.progress-btns,
.stopwatch-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .pause {
    color: $t-color-4;
  }
  .reset {
    color: $t-color-3;
  }
}

.stopwatch-time {
  display: flex;
  justify-content: center;
  align-items: baseline;
  #ms {
    font-size: 36px;
    width: 40px;
  }
}

.stopwatch-btns {
  margin: 40px 0;
}

.pomodoro-content {
  flex-direction: column !important;
  justify-content: start !important;
  align-items: flex-start !important;
  flex-wrap: nowrap !important;
  gap: 0 !important;
}

.pomodoro-progress {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #circle {
    width: 100%;
  }

  .input-field {
    width: 100%;
  }

  .timer {
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    color: $t-color-5;
  }

  .pomodoro,
  .short,
  .long {
    margin-bottom: 20px;
    flex-grow: 1;
  }
}

.p-status {
  user-select: none;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: $t-color-5;
  &.on-process {
    color: $t-color-1;
  }
  &:hover {
    color: $t-color-1;
  }
  &:active {
    transform: scale(0.98);
  }
}

.pomodoro-config {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: 100%;
  gap: 30px;
  .select-field,
  .set-btn,
  .input-field {
    flex-grow: 1;
    width: auto;
    margin-bottom: 0;
  }
}
